/**
 * Variables, CSS normalization, fonts and other inlined styles can be 
 * found in the 'template-parts/header/' -folder. 
 * 
 * Following variables has been set inlined:
 * Fonts: --ff-1, --ff-2, --ff-3, --ff-h4, --ff-h5-, --ff-h6, --ff-p, --ff-btn
 * Viewport: --viewport-min, --viewport-max
 * Spacing: --spacing-xxl, --spacing-xl, --spacing-l, --spacing-m, --spacing-s, --spacing-xs, --spacing-xxs
 * Roundness: --roundness
 * 
 * Colors:
 * Brand: --clr-brand-primary, --clr-brand-complementary, --clr-grey, --clr-highlight
 * Blacks & Whites: --clr-lightest, --clr-lighter --clr-light, --clr-dark, --clr-darker, --clr-darkest
 * Theme: --clr-background, --clr-text, --clr-text-inverted, --clr-card
 * 
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Header
2.0 Footer
3.0 Buttons
4.0 Blocks
  4.1 Static
  4.2 Dynamic
5.0 Form
5.0 Modifiers
6.0 Privacy Policy
7.0 Page Not Found - 404

--------------------------------------------------------------*/

/*--------------------------------------------------------------
  1.0 Header
--------------------------------------------------------------*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: clamp(7rem, calc(6.4rem + 3vw), 10rem);

  max-width: var(--viewport-max);
  margin-inline: auto;

  position: relative;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: calc(var(--spacing-m) + 1rem);
  position: relative;

  color: var(--clr-text);
  font-weight: 700;
  background-color: var(--clr-backgound);
}

.header__menu {
  display: none;

  gap: 1em;

  text-align: center;
  list-style: none;
}

.custom-logo-link {
  width: calc(var(--spacing-m) - 1rem);
  height: auto;
  max-height: 100%;
  position: absolute;
  top: var(--spacing-s);
  left: var(--spacing-s);
  transform: translate(-15%, -50%);
}

.custom-logo-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Menu Hamburger Styling */
.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
  transform: translate(50%, -50%);

  width: 50px;
  height: 40px;
}

.toggle__bar1,
.toggle__bar2,
.toggle__bar3 {
  width: 100%;
  height: 6px;
  border-radius: var(--roundness);
  background-color: var(--clr-text);
  transition: 0.2s;
}

/**
 * Scheme Toggle
 **/

.scheme-toggle {
  display: none;
  position: relative;

  width: 3rem;
  height: 3rem;

  margin: 1rem;
  padding: 0.5em;

  background-color: var(--clr-text);
  border-radius: 50%;
}

.scheme-icon {
  width: 100%;
  height: 100%;
}

.scheme-icon__circle {
  fill: var(--clr-text-inverted);
}

.scheme-icon__overlap {
  fill: var(--clr-text);
  display: none;
}

.scheme-icon__line {
  stroke: var(--clr-text);
  stroke-width: 40;
  stroke-linecap: round;
}

/* Light Mode */
.scheme-icon.light-mode {
  transform: scale(2);
}

.light-mode .scheme-icon__line {
  display: none;
}

.light-mode .scheme-icon__overlap {
  display: inline-block;
  transform: translate(5.5em, -3.5em);
}

/* Dark Mode */
.dark-mode .scheme-icon__line {
  display: inline-block;
}

/* In active state */
.header.active {
  height: 100vh;
  flex-direction: column;
}

.active .header__nav {
  justify-content: flex-start;
  height: 100vh;
}

.active .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0;

  width: 100%;
  height: 100%;

  background-color: var(--clr-backgound);
}

.active .toggle__bar1 {
  -webkit-transform: rotate(-45deg) translate(-12px, 12px);
  transform: rotate(-45deg) translate(-12px, 12px);
}

.active .toggle__bar2 {
  opacity: 0;
}

.active .toggle__bar3 {
  -webkit-transform: rotate(45deg) translate(-12px, -12px);
  transform: rotate(45deg) translate(-12px, -12px);
}

.active .scheme-toggle {
  display: inline-block;
  position: relative;

  bottom: 25%;
}

/* Desktop only styling */
@media (min-width: 800px) {
  .header {
    align-items: center;
  }

  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 1rem;

    width: calc(100% - var(--spacing-s));

    height: 7rem;

    border-bottom: 8px solid var(--clr-grey);
  }

  .header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0;
  }

  .header__menu li {
    padding-left: 1em;
    padding-right: 1em;
    border-left: 2px solid var(--clr-text);
  }

  .header__menu li:first-child {
    padding-left: 0;
    border: none;
  }

  .header__menu li:last-child {
    padding-right: 0;
  }

  /* Revert margins to original */
  .header__navlinks.active ul {
    margin: initial;
  }

  .header__toggle {
    display: none;
  }

  .custom-logo-link {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
  }

  .scheme-toggle {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
  2.0 Footer
--------------------------------------------------------------*/

.footer {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: var(--clr-grey);

  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-xs);

  margin-top: var(--spacing-l);
}

.footer-section-one,
.footer-section-two {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xs);
  text-align: center;
  width: calc(100% - var(--spacing-s));
  max-width: var(--viewport-max);

  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  margin-inline: auto;
}

.footer-section-one h2 {
  text-align: center;
}

.footer__column img {
  max-width: 20rem;
}

.footer__title {
  margin-top: 0.375em;
  margin-bottom: 0.5em;
}

/* Footer Nav */
.footer__nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.footer__nav a {
  font-family: var(--font-text);
  font-size: var(--ff-h5);
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer-icons a {
  font-size: var(--ff-h3);
}

/* Footer copyright & Legal */
.footer-section-legal {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  position: relative;

  width: calc(100% - var(--spacing-s));
  max-width: var(--viewport-max);

  padding-top: var(--spacing-s);
  margin-inline: auto;
}

.footer__copyright {
  width: 100%;

  font-family: var(--font-text);
  font-size: var(--ff-p);
  color: var(--clr-text);

  text-align: center;

  line-height: 1.4;
}

.legal__nav {
  width: 100%;
}

.legal__menu {
  display: flex;
  justify-content: center;
  gap: 1em;

  padding: 0;

  list-style: none;
}

.legal__menu li:not(:first-child)::before {
  content: "";
  display: inline-block;

  position: relative;
  bottom: 0.15em;
  background: white;

  margin-right: 1em;

  width: 5px;
  height: 5px;

  border-radius: 50%;
}

.footer__copyright a,
.legal__menu a {
  color: var(--clr-text);
}

.footer__copyright a:hover,
.legal__menu a:hover {
  color: var(--clr-highlight);
}

@media (min-width: 800px) {
  .footer__nav ul {
    flex-direction: row;
    justify-content: center;
  }

  .footer__copyright {
    text-align: left;
  }

  .footer-section-legal {
    flex-direction: row;
  }

  .footer-section-legal::before {
    bottom: calc(var(--spacing-m) * 0.8);
  }

  .legal__menu {
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
  3.0 Buttons
--------------------------------------------------------------*/

.btn:not(.header .btn),
.btn--small,
.header .btn a {
  display: inline-block;

  width: 12rem;
  max-width: 100%;

  font-size: var(--ff-btn);
  font-family: var(--font-body);
  font-weight: 900;
  text-align: center;
  color: var(--clr-lightest);
  border-radius: var(--roundness);
}

.btn:not(.header .btn):not(.btn-wrapper .btn),
.header .btn a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.header .btn {
  border-radius: var(--roundness);
}

.btn--small {
  padding: 0.25em 1em;
}

.is-style-clr--primary {
  background-color: var(--clr-brand-primary);
}

.is-style-clr--secondary {
  background-color: var(--clr-dark);
}

.is-style-clr--outline {
  border: 0.1rem solid var(--clr-brand-primary);
  color: var(--clr-brand-primary) !important;
}

.is-style-clr--outline div,
.is-style-clr--outline a {
  color: var(--clr-brand-primary) !important;
}

/** 
     * Form Button 
     */

.ff_submit_btn_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 100rem;

  margin-top: 1em;
  margin-bottom: 1em;
}

.ff-btn,
.btn-submit {
  display: inline-block;

  font-size: var(--ff-btn);
  font-family: var(--font-heading);
  color: hsl(var(--brand-hue), 2%, 90%);

  border: none;
  width: 100%;
  max-width: 15rem;

  margin-inline: auto;

  padding-top: clamp(0.75em, calc(0.7rem + 0.25vw), 1em);
  padding-bottom: clamp(0.75em, calc(0.7rem + 0.25vw), 1em);
  padding-left: clamp(2em, calc(1.8rem + 1vw), 3em);
  padding-right: clamp(2em, calc(1.8rem + 1vw), 3em);

  pointer-events: auto;

  border-radius: var(--roundness);
}

.ff-btn-submit {
  background-color: var(--clr-brand-primary);
}

/** 
* Button animations
*/

.btn:hover,
.btn--small:hover,
.search__button:hover,
.header__button a:hover,
.ff-btn:hover,
.is-style-clr--outline div:hover,
.is-style-clr--outline a:hover {
  background-color: var(--clr-highlight) !important;
  border-color: var(--clr-highlight) !important;
  color: var(--clr-lightest) !important;
}

/*--------------------------------------------------------------
  4.0 Blocks
--------------------------------------------------------------*/

/**
 * 4.1 Hero
 *
 */

.hero.has-columns {
  width: 100%;
}

.hero.has-columns::after {
  content: "";
  display: block;
  width: 60rem;
  height: 60rem;
  background-color: var(--clr-grey);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(40%, -40%) rotate(25deg);
  z-index: -1;
}

.hero__text-wrapper {
  columns: 1;
}

/* Reverse column order */
.ksd-section.has-columns.is-reversed div:first-child {
  grid-area: 2 / 1;
  width: calc(100% - var(--spacing-s));
  margin-inline: auto;
}

.ksd-section.has-columns.is-reversed div:last-child {
  grid-area: 1 / 1;
}

@media (min-width: 1000px) {
  .hero.has-columns {
    margin-top: var(--spacing-m);
    grid-template-columns: 1fr 1.25fr;
    width: 100%;
  }

  .hero__text-wrapper {
    columns: 2;
    column-gap: var(--spacing-s);
  }

  .hero .ksd-optimized-image {
    height: 100%;
    object-fit: cover;
  }
}

/**
 * 4.6 Blog Grid
 *
 */

.blog-grid__container {
  --small-margin: calc(var(--spacing-xs) / 2);
}


/*--------------------------------------------------------------
  5.0 Form
--------------------------------------------------------------*/

.fluentform {
  --input-height: 2.25rem;
  --input-width: 30rem;
  --input-gap: 1rem;
  --input-border-width: 1px;
  --input-border-color: var(--clr-darkest);
  --input-border-radius: var(--roundness);
  display: flex;
  justify-content: center;
}

.fluentform form {
  display: flex;
  flex-direction: column;
  gap: var(--input-gap);

  width: 100%;
  max-width: var(--input-width);
}

input.ff-el-form-control,
textarea.ff-el-form-control {
  width: 100%;
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  border-color: var(--input-border-color);
}

input.ff-el-form-control {
  height: var(--input-height);
}

textarea.ff-el-form-control {
  height: calc(var(--input-height) * 6);
}

/*--------------------------------------------------------------
  6.0 Modifiers
--------------------------------------------------------------*/

.has-text-align-center {
  text-align: left;
}

.is-hidden {
  display: none;
}

.has-small-heading,
.has-small-heading label {
  font-size: var(--ff-h4);
}

/* Reverse column order */
:where(.ksd-section > div:first-child:not(.ksd-column-container)) {
  grid-area: 2 / 1;
}

:where(.ksd-section > div:last-child:not(.ksd-column-container)) {
  grid-area: 1 / 1;
  width: 100%;
}

:where(.ksd-section > div:first-child:not(.ksd-column-container)) {
  width: calc(100% - var(--spacing-s));
  margin-inline: auto;
}

@media (min-width: 1000px) {
  .has-text-align-center {
    text-align: center;
  }

  .ksd-section > div:first-child:not(.ksd-column-container) {
    grid-area: 1 / 1;
  }

  .ksd-section > div:last-child:not(.ksd-column-container) {
    grid-area: 1 / 2;
  }
}

/*--------------------------------------------------------------
  7.0 Privacy Policy
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  8.0 Page Not Found - 404
  --------------------------------------------------------------*/

.page-not-found {
  max-width: 60ch;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  margin-inline: auto;
  text-align: center;
}

.page-not-found__heading {
  font-size: calc(var(--ff-h1) * 1.667);
  margin: 0;
}
